<div class="pageheight">
    <mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper
        *ngIf="loggedInuserDetails.UserType=='Admin'">

        <mat-step [stepControl]="" label="Details">
            <form #Pay="ngForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp" placeholder="Month and Year" name="month"
                                    #month="ngModel" [(ngModel)]="PaySlipModel.month">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp startView="multi-year"
                                    (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-1.5">
                            <tru-file-upload *ngIf="choseMonthN"
                                [accept]="'.xlsx,.xlsm,.xlsb,.xltx,.XLSX,.XLSM,.XLSB,.XLTX'" [text]="'Upload File'"
                                [(inputFiles)]="uploadExcelFile" [disabled]="uploadExcelFile.length === 1"
                                [documentName]="'UploadQuestion'">
                            </tru-file-upload>
                        </div>
                        <div class="col-sm-0.5">
                            <i *ngIf="uploadExcelFile.length>0" class="fa fa-paper-plane pointer"
                                (click)="importPayslipDetails()" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-2">
                            <h3 style="color: brown;text-align: right;"><b>{{choseMonthN| date: 'MMM yyyy' }}</b></h3>
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-sm pull-left" (click)="unPublishAll()"
                                [disabled]="getEmployeePaySlip?false:true"> <i class="fa fa-times"></i>
                                UnPublish All
                            </button>
                            <button type="button" class="btn btn-primary btn-sm pull-right" (click)="publishAll()"
                                [disabled]="getEmployeePaySlip?false:true"> <i class="fa fa-gavel"></i>
                                Publish All
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="table-responsive scroll">
                                <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>
                                            <th>Emp Id</th>
                                            <th>Employee Name</th>
                                            <th>Gross</th>
                                            <th>Deduction</th>
                                            <th>Loss Of Pay</th>
                                            <th>Allowance</th>
                                            <th>Net</th>
                                            <th>Remark</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr *ngFor="let p of getEmployeePaySlip;let i=index;" style="height: 2.5em;">
                                            <td>{{p.EmpId}}</td>
                                            <td>{{p.EmployeeName}}</td>
                                            <td>
                                                <input *ngIf="p.editField" type="text" class="inputTextstyle"
                                                    name="Gross" #Gross="ngModel" [(ngModel)]="p.Gross">
                                                <p *ngIf="!p.editField">{{p.Gross}}</p>
                                            </td>
                                            <td>
                                                <input *ngIf="p.editField" type="text" class="inputTextstyle"
                                                    name="Deduction" #Deduction="ngModel" [(ngModel)]="p.Deduction">
                                                <p *ngIf="!p.editField">{{p.Deduction}}</p>
                                            </td>
                                            <td>
                                                <input *ngIf="p.editField" type="text" class="inputTextstyle"
                                                    name="LossOfPay" #LossOfPay="ngModel" [(ngModel)]="p.LossOfPay">
                                                <p *ngIf="!p.editField">{{p.LossOfPay}}</p>
                                            </td>
                                            <td>
                                                <input *ngIf="p.editField" type="text" class="inputTextstyle"
                                                    name="Allowance" #Allowance="ngModel" [(ngModel)]="p.Allowance">
                                                <p *ngIf="!p.editField">{{p.Allowance}}</p>
                                            </td>
                                            <td>
                                                <input *ngIf="p.editField" type="text" class="inputTextstyle" name="Net"
                                                    #Net="ngModel" [(ngModel)]="p.Net">
                                                <p *ngIf="!p.editField">{{p.Net}}</p>
                                            </td>
                                            <td>
                                                <input *ngIf="p.editField" type="text" name="Remark" #Remark="ngModel"
                                                    [(ngModel)]="p.Remark">
                                                <pre *ngIf="!p.editField">{{p.Remark}}</pre>
                                            </td>
                                            <td> {{p.Status}} </td>
                                            <td> <i *ngIf="!p.editField && p.Status!='Published' && p.edited"
                                                    class="fa fa-pencil-square-o greentext pointer pull-right"
                                                    aria-hidden="true" (click)="editPayslip(p)"
                                                    matTooltip="Edit Activity"></i>
                                                <button (click)="savePaySlip(p,'UnPublishPaySlip')"
                                                    *ngIf="!p.editField && p.Status=='Published' && p.edited"
                                                    type="button"
                                                    class="btn btn-outline-warning btn-sm pull-left btnheight">UnPub</button>
                                                <button (click)="savePaySlip(p,null)" *ngIf="p.editField && p.edited"
                                                    type="button" class="btn btn-outline-secondary btn-sm">Save</button>
                                                <button (click)="cancelEdit()" *ngIf="p.editField && p.edited"
                                                    type="button" class="btn btn-outline-danger btn-sm ">Cancel
                                                </button>
                                                &nbsp;
                                                <button (click)="savePaySlip(p,'PublishPaySlip')"
                                                    *ngIf="!p.editField && p.Status=='New' && p.edited" type="button"
                                                    class="btn btn-outline-info btn-sm pull-left btnheight">Pub</button>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="" label="Published">
            <form #Pay="ngForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp2" placeholder="Month and Year" name="month"
                                    #month="ngModel" [(ngModel)]="PaySlipModel.month">
                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker #dp2 startView="multi-year"
                                    (monthSelected)="chosenMonthHandler($event, dp2)" panelClass="example-month-picker">
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-2">
                            <h3 style="color: brown;"><b>{{choseMonthN| date: 'MMM yyyy' }}</b></h3>
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-sm pull-left" (click)="unPublishAll()"
                                [disabled]="getEmployeePublishedPaySlip?false:true"> <i class="fa fa-times"></i>
                                UnPublish All
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <div class="table-responsive scroll">
                                <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0">
                                    <thead>
                                        <th style="width: 2%;">Emp Id</th>
                                        <th style="width: 12%;">EmployeeName</th>

                                        <th style="width: 4%;">Mail</th>
                                        <th style="width: 4%;">Action</th>
                                    </thead>
                                    <tbody>
                                        <tr style="height: 2.5em;"
                                            *ngFor="let p of getEmployeePublishedPaySlip;let i=index;">
                                            <td>{{p.EmpId}}</td>
                                            <td>{{p.EmployeeName}}</td>

                                            <td><i *ngIf="p.Status=='Published'"
                                                    (click)="genratePdf(p,'AdminEmailPaySlip')"
                                                    class="fa fa-envelope pointer" aria-hidden="true"></i></td>
                                            <td> <button class="btn btn-outline-warning btn-sm"
                                                    (click)="savePaySlip(p,'UnPublishPaySlip')"
                                                    *ngIf="p.Status=='Published'">UnPub</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>

    <div class="container-fluid" *ngIf="loggedInuserDetails.UserType=='Employee'">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="table-responsive scroll">
                    <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0">
                        <thead>
                            <th>S No.</th>
                            <th>Month</th>
                            <th>Send to Mail</th>
                            <th width="20%">Remark</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of getOneEmpPublishedPaySlip;let i=index;">
                                <td>{{i+1}}</td>
                                <td>{{p.Month |  date: 'MMM yyyy'}}</td>
                                <td><i class="fa fa-envelope-o pointer" (click)="genratePdf(p,'EmailPaySlip')"
                                        aria-hidden="true" matTooltip="Send to Mail"></i></td>
                                <td>
                                    <pre>{{p.Remark}}</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>