::ng-deep .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
  flex-basis: 0;
  flex-grow: 1;
  background: #fffffff0;
  color: rgb(0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 39px;
  margin-right: 1px;
  font-size: 16px;
  font-weight: 450;
  border-top: 3px solid #01446b;
  border-right: 1px solid #01446b;
  border-left: 1px solid #01446b;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: inline-flex !important;
}
::ng-deep .mat-horizontal-stepper-header {
  height: 35px !important;
}

::ng-deep.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 24px 24px 24px;
  min-height: 800px !important;
}

.pageheight {
  height: 34em;
}

.profile {
  border: 2px solid brown;
  border-left: 3px solid brown;
  border-right: 3px solid brown;
  border-bottom: 4px solid brown;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.left {
  padding: 10px;
  color: rgb(117, 52, 202);
  font-weight: bold;
  font-size: 30px;
}

.right {
  padding: 10px;
  color: rgb(39, 140, 207);
  font-weight: bold;
  font-size: 30px;
}
