<mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper>
    <mat-step [stepControl]="" label="Leave Requests">
        <ng-template matStepLabel>Leave Requests</ng-template>




        <div *ngIf="loggedInuserDetails.UserType=='Employee'">
            <div *ngIf="!Empview">
                <button class="btn btn-primary btn-sm pull-right" (click)="applyLeave()">Apply Leave </button>
                <br>
                <div class="row ">
                    <div class="col-sm-4 text-center">
                    </div>
                    <div class="col-sm-4 text-center">
                        <app-date-range-picker (dateRangeEvent)="dateRangeEvent($event)"> </app-date-range-picker>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button style="background-color: violet;">Pending - {{EmpPending}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Leave Requests </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of LeaveRequests;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-4 text-left">{{p.StartingFromDate| date: 'MMM d EEE' }}
                                                ({{p.StartingFromType}}) &nbsp; &nbsp;<b>--</b> &nbsp; &nbsp;
                                                {{p.EndingOnDate| date: 'MMM d EEE'}} ({{p.EndingOnType}})</div>
                                            <div class="col-sm-4 text-center"> <b>{{p.Days}}</b>
                                                {{p.Days<=1?'Day':'Days'}}
                                            </div>
                                            <div class="col-sm-4 text-left"> Applied on {{p.CreatedOn| date: 'MMM d  '}}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8 text-left">{{p.Remark?'Remark : '+p.Remark:''}}</div>

                                            <div *ngIf="p.Status==null" class="col-sm-4 text-right"><b
                                                    style="color: rgb(126, 65, 175);">Waiting for Approval</b>
                                                &nbsp;&nbsp;
                                                <i class="fa fa-trash fail-msg pointer" aria-hidden="true"
                                                    (click)="deletePopup(p,'DELETEREQUEST')"
                                                    matTooltip="Delete Activity"></i>
                                            </div>
                                            <div *ngIf="p.Status=='Approved'" class="col-sm-4 text-right"><b
                                                    style="color: green;">Approved</b></div>
                                            <div *ngIf="p.Status=='Rejected'" class="col-sm-4 text-right"><b
                                                    style="color: red;">Rejected</b></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>

            <div *ngIf="Empview">
                <form #LeaveRequest="ngForm">
                    <button class="btn btn-primary btn-sm pull-left" (click)="dashboard()"><i
                            class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Back</button>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2> Leave Request</h2>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div style="color: brown;" class="col-sm-3">
                            <b> Leave starting from :</b>
                        </div>
                        <div class="col-sm-2"></div>
                        <div style="color: brown;" class="col-sm-3">
                            <b> Leave ending on :</b>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" placeholder="Choose a date"
                                    (dateChange)="chooseDateFrom(HolidayModel)" name="StartingFromDate"
                                    #StartingFromDate="ngModel" [(ngModel)]="HolidayModel.StartingFromDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" placeholder="Choose a date"
                                    (dateChange)="chooseDateTo(HolidayModel)" name="EndingOnDate"
                                    #EndingOnDate="ngModel" [(ngModel)]="HolidayModel.EndingOnDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <mat-select required name="StartingFromType" #StartingFromType="ngModel"
                                [(ngModel)]="HolidayModel.StartingFromType" (ngModelChange)="TypeChange('start')">
                                <mat-option *ngFor="let p of LeaveTypeFrom;trackBy: trackByFn" [value]="p">{{p}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
                            <mat-select required name="EndingOnType" #EndingOnType="ngModel"
                                [(ngModel)]="HolidayModel.EndingOnType" (ngModelChange)="TypeChange('end')">
                                <mat-option *ngFor="let p of LeaveTypeTo;trackBy: trackByFn" [value]="p">{{p}}
                                </mat-option>

                            </mat-select>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-2"></div>

                        <div style="color: brown;" class="col-sm-3">
                            <b>Remark :</b>
                            <br>
                            <textarea placeholder="Optional" rows="3" name="Remark" #Remark="ngModel"
                                [(ngModel)]="HolidayModel.Remark"></textarea>
                        </div>
                        <div class="col-sm-2"></div>

                        <div style="color: brown;" class="col-sm-3">
                            <b>Total days : {{HolidayModel.Days}}</b>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button
                                [disabled]="!HolidayModel.StartingFromDate || !HolidayModel.EndingOnType || !HolidayModel.EndingOnDate|| !HolidayModel.StartingFromType"
                                class="btn btn-primary btn-sm" (click)="request(HolidayModel)"> Submit
                                Request</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 style="color: green"> {{successmsg}}</h2>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div *ngIf="loggedInuserDetails.UserType=='Admin'">

            <div class="row ">
                <div class="col-sm-4 text-center">
                </div>
                <div class="col-sm-4 text-center">
                    <app-date-range-picker (dateRangeEvent)="dateRangeEventAdmin($event)"> </app-date-range-picker>
                </div>
                <div class="col-sm-4 text-center">
                    <button style="background-color: violet;">Pending - {{AllPending}}</button>
                </div>
            </div>
            <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Leave Requests </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of AllLeaveRequests;let i=index;">
                        <td>{{i+1}}</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-2 text-left"> {{p.EmployeeName}} </div>
                                <div class="col-sm-4 text-left">{{p.StartingFromDate| date: 'MMM d EEE' }}
                                    ({{p.StartingFromType}}) &nbsp; &nbsp;<b>--</b> &nbsp; &nbsp;
                                    {{p.EndingOnDate| date: 'MMM d EEE'}} ({{p.EndingOnType}})</div>
                                <div class="col-sm-1 text-center"> <b>{{p.Days}}</b> {{p.Days<=1?'Day':'Days'}}
                                </div>
                                <div class="col-sm-2 text-left"> Applied on {{p.CreatedOn| date: 'MMM d  '}}</div>
                                <div class="col-sm-3 text-left">
                                    BAL&nbsp;
                                    <b *ngIf="p.Bal>=0" style="color: blue;">
                                        {{p.Bal}}</b>
                                    <b *ngIf="p.Bal<0" style="color: red;">
                                        {{p.Bal}}</b>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-8 text-left">{{p.Remark?'Remark : '+p.Remark:''}}</div>

                                <div *ngIf="p.Status=='Approved'" class="col-sm-4 text-right"><b
                                        style="color: green;">Approved</b> </div>
                                <div *ngIf="p.Status=='Rejected'" class="col-sm-4 text-right"><b
                                        style="color: Red;">Rejected</b> </div>
                                <div *ngIf="p.Status==null" class="col-sm-4 text-right">
                                    <button style="background-color: green;color: honeydew;border-radius: 50%;"
                                        (click)="status(p,'APPROVE')">Approve</button>
                                    &nbsp; <button style="background-color: red;color: honeydew;border-radius: 50%;"
                                        (click)="status(p,'REJECT')">Reject</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>


    </mat-step>
    <mat-step [stepControl]="" label="Leave Balance">
        <ng-template matStepLabel> Leave Balance</ng-template>
        <br>


        <div *ngIf="loggedInuserDetails.UserType=='Admin'" class="col-sm-3 text-center">
            <i class="fa fa-chevron-circle-left fa-2x pointer" aria-hidden="true" (click)="previousEmployee()"
                matTooltip="Previous Employee"></i> &nbsp;
            <mat-form-field>
                <mat-label>Employee Name</mat-label>
                <mat-select required name="EmployeeId" #EmployeeId="ngModel" [(ngModel)]="HolidayModel.EmployeeId"
                    (ngModelChange)="DataByEmp($event)">

                    <mat-option *ngFor="let p of getEmployees; trackBy: trackByFn" [value]="p.EmployeeId">
                        {{p.EmployeeName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <i class="fa fa-chevron-circle-right fa-2x pointer" aria-hidden="true" (click)="nextEmployee()"
                matTooltip="Next Employee"></i>
        </div>


        <button (click)="nextYear2()" class="btn btn-secondary btn-sm pull-right"><i
                class="fa fa-arrow-circle-o-right fa-1.8x pointer" aria-hidden="true"></i></button>

        <b class="btn btn-success btn-sm pull-right">
            {{(changeDate2.getFullYear())>=2020?changeDate2.getFullYear():2020}}</b>

        <button (click)="previousYear2()" class="btn btn-secondary btn-sm pull-right"><i
                class="fa fa-arrow-circle-o-left fa-1.8x pointer" aria-hidden="true"></i></button>

        <br>
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dec</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Previous Leaves</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Jan:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Feb:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Mar:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Apr:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.May:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Jun:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Jul:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Aug:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Sep:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Oct:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Nov:null}}</td>
                            <td> {{MonthlyPrevLeaves?MonthlyPrevLeaves.Dec:null}}</td>
                        </tr>
                        <tr>
                            <td>Monthly Leave</td>
                            <td> {{MonthLeave?MonthLeave.Jan:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Feb:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Mar:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Apr:null}}</td>
                            <td> {{MonthLeave?MonthLeave.May:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Jun:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Jul:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Aug:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Sep:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Oct:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Nov:null}}</td>
                            <td> {{MonthLeave?MonthLeave.Dec:null}}</td>
                        </tr>
                        <tr>

                            <td>Leaves Taken</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Jan:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Feb:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Mar:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Apr:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.May:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Jun:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Jul:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Aug:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Sep:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Oct:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Nov:null}}</td>
                            <td> {{MonthlyLeavesTaken?MonthlyLeavesTaken.Dec:null}}</td>
                        </tr>

                        <tr>
                            <td>Balance Leaves</td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Jan:null)+(MonthLeave?MonthLeave.Jan:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Jan:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Feb:null)+(MonthLeave?MonthLeave.Feb:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Feb:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Mar:null)+(MonthLeave?MonthLeave.Mar:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Mar:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Apr:null)+(MonthLeave?MonthLeave.Apr:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Apr:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.May:null)+(MonthLeave?MonthLeave.May:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.May:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Jun:null)+(MonthLeave?MonthLeave.Jun:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Jun:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Jul:null)+(MonthLeave?MonthLeave.Jul:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Jul:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Aug:null)+(MonthLeave?MonthLeave.Aug:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Aug:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Sep:null)+(MonthLeave?MonthLeave.Sep:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Sep:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Oct:null)+(MonthLeave?MonthLeave.Oct:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Oct:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Nov:null)+(MonthLeave?MonthLeave.Nov:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Nov:null)}}
                            </td>
                            <td> {{(MonthlyPrevLeaves?MonthlyPrevLeaves.Dec:null)+(MonthLeave?MonthLeave.Dec:null)-(MonthlyLeavesTaken?MonthlyLeavesTaken.Dec:null)}}
                            </td>

                        </tr>
                        <tr>
                            <td>Late After 10:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <h3 style="color: blueviolet;font-weight: bold;">{{today|date :'MMM yyyy'}}</h3>
            </div>
        </div>
        <div *ngIf="loggedInuserDetails.UserType=='Admin'" class="container-fluid">
            <div class="row">
                <div class="table-responsive col-sm-6">
                    <table class="table table-bordered table-sm text-nowrap" cellsspacing="0">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Employee Name</th>
                                <th>Previous Leaves</th>

                                <th>Leaves Taken</th>
                                <th>Balance Leaves</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of AdminAllEmpLeaveBal;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{p.EmployeeName}}</td>
                                <td>{{p.PreviousLeaves}}</td>

                                <td>{{p.LeavesTaken}}</td>
                                <td> {{p.PreviousLeaves+p.MonthlyLeave- p.LeavesTaken }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="" label="Holidays">
        <ng-template matStepLabel>Holidays</ng-template>
        <br>
        <button *ngIf="loggedInuserDetails.UserType=='Admin'" (click)="createPopup(null,'InsertDates')"
            class="btn btn-primary btn-sm pull-right">
            <i class="fa fa-plus-circle fa-1.5x pointer" aria-hidden="true"></i>&nbsp;
            Add Holiday</button>

        <button (click)="nextYear()" class="btn btn-secondary btn-sm pull-right"><i
                class="fa fa-arrow-circle-o-right fa-1.8x pointer" aria-hidden="true"></i></button>

        <b class="btn btn-success btn-sm pull-right">
            {{(changeDate.getFullYear())>=2020?changeDate.getFullYear():2020}}</b>

        <button (click)="previousYear()" class="btn btn-secondary btn-sm pull-right"><i
                class="fa fa-arrow-circle-o-left fa-1.8x pointer" aria-hidden="true"></i></button>


        <div class="container-fluid">
            <div style="width: 50%; " class="table-responsive">
                <table class="table table-bordered table-sm text-nowrap" cellsspacing="0">
                    <thead>
                        <th>S No.</th>
                        <th>Date </th>
                        <th>Event</th>
                        <th *ngIf="loggedInuserDetails.UserType=='Admin'">Action</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let p of HolidayDates;let i = index">
                            <td>{{i+1}}</td>
                            <td> <b>{{p.Date |  date: 'MMM d  (EEEE)'}}</b> </td>
                            <td> {{p.Event}} </td>
                            <td *ngIf="loggedInuserDetails.UserType=='Admin'"> <i class="fa fa-trash-o fail-msg pointer"
                                    aria-hidden="true" (click)="deletePopup(p,'DELETEHolidayDate')"
                                    matTooltip="Delete Activity"></i></td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

    </mat-step>

    <mat-step *ngIf="loggedInuserDetails.UserType=='Admin'" [stepControl]="" label="Settings">
        <ng-template matStepLabel>Settings</ng-template>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive col-sm-6">
                    <table class="table table-bordered table-sm text-nowrap" cellsspacing="0">
                        <thead>
                            <th>S No.</th>
                            <th>EmpId</th>
                            <th>Employee Name</th>
                            <!-- <th>Mail Id</th> -->
                            <!-- <th>Designation</th> -->
                            <!-- <th>Department</th> -->
                            <th>Leaves</th>
                            <th colspan=2> Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of getEmployeesCurMonLeave;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{p.EmpId}}</td>
                                <td> {{p.EmployeeName}} </td>
                                <!-- <td> {{p.EmailId}} </td> -->
                                <!-- <td> {{p.Designation}} </td> -->
                                <!-- <td> {{p.Department}} </td> -->
                                <td> {{p.MonthlyLeaves}} </td>
                                <td> <i class="fa fa-address-book greentext pointer" aria-hidden="true"
                                        (click)="openEmpLeaves(p)" matTooltip="Monthly Leaves"></i>
                                </td>
                                <td><i class="fa fa-pencil pointer" aria-hidden="true"
                                        (click)="createPopup(p,'Edit Employee')" matTooltip="Edit Employee Data"></i>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm pull-right"
                        (click)="createPopup(null,'Add Employee')">
                        <i class="fa fa-plus"></i>
                        Add Employee
                    </button>
                </div>
                <!-- <div class="col-sm-2"></div> -->
                <div *ngIf="openLeaves" class="table-responsive col-sm-6">

                    <h2 style="color:gold;"><b>{{LeaveEmpName}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i style="color: red; align-self: center;" class="fa fa-times  pointer"
                            (click)="closeEmpLeaves()" aria-hidden="true"></i></h2>
                    <br>
                    <table class="table table-bordered table-sm text-nowrap" cellsspacing="0">
                        <thead>
                            <th>S No.</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Monthly Leaves</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of getMonthLeaves;let i = index">
                                <td>{{i+1}}</td>
                                <td> {{p.From | date}} </td>
                                <td> {{p.To | date}} </td>
                                <td> {{p.MonthlyLeave}} </td>
                                <td> <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                        (click)="deletePopup(p,'DeleteEmployeeLeaves')"
                                        matTooltip="Delete Activity"></i>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm pull-right"
                        (click)="createPopup(null,'Add MonthltLeaveRange')">
                        <i class="fa fa-plus"></i>
                        Add Range
                    </button>
                </div>
            </div>
        </div>

    </mat-step>
    <mat-step [stepControl]="" label="Birthdays">
        <ng-template matStepLabel>Birthdays</ng-template>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive col-sm-4">
                    <table class="table table-bordered table-sm text-nowrap" cellsspacing="0">
                        <thead>
                            <th>S No.</th>
                            <th>Employee Name</th>
                            <th>Birthday</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of getEmployeesBirthDays;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{p.EmployeeName}}</td>
                                <td>{{p.BirthDay | date :'d LLLL ' }}</td>
                                <td>
                                    <mat-form-field hidden="true">
                                        <input matInput (dateChange)="birthDayInsert(HolidayModel,p)"
                                            [matDatepicker]="picker2323" name="Date" #Date="ngModel"
                                            [(ngModel)]="HolidayModel.Date">>
                                    </mat-form-field>
                                    <mat-datepicker-toggle *ngIf="p.EmployeeId==loggedInuserDetails.EmployeeId"
                                        matSuffix [for]="picker2323"></mat-datepicker-toggle>
                                    <mat-datepicker-toggle *ngIf="p.EmployeeId!=loggedInuserDetails.EmployeeId"
                                        matSuffix [for]=""></mat-datepicker-toggle>
                                    <mat-datepicker #picker2323 startView="year"></mat-datepicker>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </mat-step>
    <mat-step *ngIf="loggedInuserDetails.UserType=='Employee'" [stepControl]="" label="My Info">
        <ng-template matStepLabel>My Info</ng-template>
        <br>
        <div class="container-fluid profile">
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Name</div>
                <div class="col-sm-4 right">{{getEmpInfo?getEmpInfo.EmployeeName:null}}</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Employee Id</div>
                <div class="col-sm-4 right">{{getEmpInfo?getEmpInfo.EmpId:null}}</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Designation</div>
                <div class="col-sm-4 right">{{getEmpInfo?getEmpInfo.Designation:null}}</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Department</div>
                <div class="col-sm-4 right">{{getEmpInfo?getEmpInfo.Department:null}}</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Cordiso Id</div>
                <div class="col-sm-4 right">{{getEmpInfo?getEmpInfo.EmailId:null}}</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Date Of Joining</div>
                <div class="col-sm-4 right">{{getEmpInfo?(getEmpInfo.JoiningDate | date : 'd MMM yyyy') :null}}</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 left">Birthday</div>
                <div class="col-sm-4 right">{{getEmpInfo?(getEmpInfo.BirthDay | date : 'd MMM') :null}}</div>
                <div class="col-sm-1"></div>
            </div>
        </div>

    </mat-step>
</mat-horizontal-stepper>



<!-- pop up for edit  and create form data -->
<div class="modal fade" cdkDrag mdbModal #PopUpModal="mdbModal" id="PopUpModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">{{title}}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopUpModal()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form #EmpForm="ngForm">

                    <div *ngIf="type=='InsertDates'">
                        <div class="row ">
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickeraef" placeholder="Choose a date" name="Date"
                                        #Date="ngModel" [(ngModel)]="HolidayModel.Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickeraef"></mat-datepicker-toggle>
                                    <mat-datepicker #pickeraef></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="full-width">
                                    <mat-label>Event</mat-label>
                                    <input matInput required name="Event" #Event="ngModel"
                                        [(ngModel)]="HolidayModel.Event">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class=" modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary btn-md"
                                (click)="insertHolidayDates(HolidayModel,'InsertDates')"
                                [disabled]="!EmpForm.form.valid">Create</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>

                    <div *ngIf="type=='Add MonthltLeaveRange'">
                        <div class="row ">
                            <div class="col-sm-4 text-center">

                                <mat-form-field>
                                    <input matInput [matDatepicker]="dp1" placeholder="Starting Month"
                                        name="StartingFromDate" [(ngModel)]="HolidayModel.StartingFromDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1 startView="multi-year"
                                        (monthSelected)="chosenMonthHandlerFrom($event, dp1)"
                                        panelClass="example-month-picker">
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 text-center">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dp2" placeholder="Ending Month" name="EndingOnDate"
                                        [(ngModel)]="HolidayModel.EndingOnDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                    <mat-datepicker #dp2 startView="multi-year"
                                        (monthSelected)="chosenMonthHandlerTo($event, dp2)"
                                        panelClass="example-month-picker">
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field class="full-width">
                                    <mat-label>No. of Leaves</mat-label>
                                    <input matInput required name="MonthlyLeaves" #MonthlyLeaves="ngModel"
                                        [(ngModel)]="HolidayModel.MonthlyLeaves">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class=" modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary btn-md"
                                (click)="insertEmployeeLeaves(HolidayModel,'InsertEmployeeLeaves')"
                                [disabled]="!EmpForm.form.valid">Create</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>

                    <div *ngIf="type=='Add Employee'">
                        <div class="row ">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Emp Id</mat-label>
                                    <input matInput required name="EmpId" #EmpId="ngModel"
                                        [(ngModel)]="HolidayModel.EmpId">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Employee Name</mat-label>
                                    <input matInput required name="EmployeeName" #EmployeeName="ngModel"
                                        [(ngModel)]="HolidayModel.EmployeeName">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Designation</mat-label>
                                    <input matInput required name="Designation" #Designation="ngModel"
                                        [(ngModel)]="HolidayModel.Designation">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Department</mat-label>
                                    <input matInput required name="Department" #Department="ngModel"
                                        [(ngModel)]="HolidayModel.Department">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Mail Id</mat-label>
                                    <input matInput required name="MailId" #MailId="ngModel"
                                        [(ngModel)]="HolidayModel.MailId">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickeg4vraef" placeholder="Choose a date"
                                        name="Date" #Date="ngModel" [(ngModel)]="HolidayModel.Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickeg4vraef"></mat-datepicker-toggle>
                                    <mat-datepicker #pickeg4vraef></mat-datepicker>
                                </mat-form-field>
                                <!-- <mat-form-field>
                                    <input matInput type="date"  placeholder="Choose a date" name="Date"
                                    #Date="ngModel" [(ngModel)]="HolidayModel.Date">   
                                </mat-form-field> -->
                            </div>
                        </div>
                        <div class=" modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary btn-md"
                                (click)="insertNewEmployee(HolidayModel,'Add Employee')"
                                [disabled]="!EmpForm.form.valid">Create</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>

                    <div *ngIf="type=='Edit Employee'">
                        <div class="row ">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Emp Id</mat-label>
                                    <input matInput required name="EmpId" #EmpId="ngModel"
                                        [(ngModel)]="HolidayModel.EmpId">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Employee Name</mat-label>
                                    <input matInput required name="EmployeeName" #EmployeeName="ngModel"
                                        [(ngModel)]="HolidayModel.EmployeeName">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Designation</mat-label>
                                    <input matInput required name="Designation" #Designation="ngModel"
                                        [(ngModel)]="HolidayModel.Designation">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Department</mat-label>
                                    <input matInput required name="Department" #Department="ngModel"
                                        [(ngModel)]="HolidayModel.Department">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Mail Id</mat-label>
                                    <input matInput required name="MailId" #MailId="ngModel"
                                        [(ngModel)]="HolidayModel.MailId">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickbrteg4vraef" placeholder="Choose a date"
                                        name="Date" #Date="ngModel" [(ngModel)]="HolidayModel.Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickbrteg4vraef"></mat-datepicker-toggle>
                                    <mat-datepicker #pickbrteg4vraef></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class=" modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary btn-md"
                                (click)="editNewEmployee(HolidayModel,'Edit Employee')"
                                [disabled]="!EmpForm.form.valid">Update</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>



                    <div class="row justify-content-md-center">
                        <div class="alert alert-success" *ngIf="successmsg!==''" role="alert">
                            <h4>
                                <i class="fa fa-check"></i> {{successmsg}}</h4>
                        </div>
                        <div class="alert alert-warning" *ngIf="unsuccessmsg!==''" role="alert">
                            <h4>
                                <i class="fa fa-times-circle"></i> {{unsuccessmsg}}</h4>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


<!--Modal: modalConfirmDelete confirm dialog box to delete record in table-->
<div class="modal fade" cdkDrag id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" mdbModal #modalConfirmDelete="mdbModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>
            <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>
            <div class="modal-footer flex-center">

                <button *ngIf="DeleteInput=='DELETEHolidayDate'" class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="deleteHolidayDates(HolidayModel,'DELETEHolidayDate')">Yes</button>

                <button *ngIf="DeleteInput=='DELETEREQUEST'" class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="deleteRequest(HolidayModel)">Yes</button>

                <button *ngIf="DeleteInput=='DeleteEmployeeLeaves'" class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="deleteEmpHoliday(HolidayModel,'DeleteEmployeeLeaves')">Yes</button>

                <button type="button" class="button round-md btnstyle btn-sm btn-danger"
                    (click)="modalConfirmDelete.hide()">No</button>
            </div>
        </div>
    </div>
</div>