<div class="container-fluid">
  <mat-card>
    <!-- start logout popup -->
    <a>
      <div class="row pull-right" id="space" [matMenuTriggerFor]="menu">

        <a class="logoutmenu">
          <i class="fa fa-user fausernav"></i>
          <b> <i class="fa fa-angle-down"></i></b>
        </a>

        <mat-menu #menu="matMenu">
          <div>
            <div class="text-center">
              <i class="fa fa-user fa-icon"></i>
              <br>
              <span class="titlehead">
                {{loggedInuserDetails.EmployeeName|titlecase}}
              </span>
            </div>
            <br>
            <a>
              <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;
              <span class="menuitem" (click)="changePasswordPopUp('Change Password')">Change Password</span>
              <br>
              <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;
              <span class="menuitem" (click)="logout()">Logout
              </span>
            </a>
          </div>
        </mat-menu>

      </div>
    </a>
    <!-- end logout popup  -->
    <div class="row">
      <div class="col-sm-12">
        <mat-tab-group style="margin-top: -1em;" (selectedTabChange)="tab($event)">
          <mat-tab label="DAILY TS">
            <br>
            <form #Adding="ngForm">

              <div class="row ">
                <div class="col-sm-3 text-center">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Choose a date"
                      (dateChange)="chooseDate(addModel.startdate)" name="startdate" #startdate="ngModel"
                      [(ngModel)]="addModel.startdate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>

                <div *ngIf="UserType=='Employee'" class="col-sm-6 text-center"
                  style="color: rgb(59, 46, 117);font-size:large;display: inline-block;">

                  <i class="fa fa-caret-square-o-left fa-2x pointer" aria-hidden="true" (click)="previousDay1()"
                    matTooltip="Previous Day"></i> &nbsp;
                  <b style="font-size: 25px;"> {{choseDateN_1 | date}}</b> &nbsp;
                  <i class="fa fa-caret-square-o-right fa-2x pointer" aria-hidden="true" (click)="nextDay1()"
                    matTooltip="Next Day"></i>
                </div>
                <div *ngIf="UserType=='Admin'" class="col-sm-6 text-center"
                  style="color: rgb(59, 46, 117);font-size:large;display: inline-block;">

                  <i class="fa fa-caret-square-o-left fa-2x pointer" aria-hidden="true" (click)="previousDay1()"
                    matTooltip="Previous Day"></i> &nbsp;
                  <b style="font-size: 25px;"> {{choseDateN_1 | date}}</b> &nbsp;
                  <i class="fa fa-caret-square-o-right fa-2x pointer" aria-hidden="true" (click)="nextDay1()"
                    matTooltip="Next Day"></i>
                </div>
                <div *ngIf="UserType=='Admin'" class="col-sm-3 text-center">
                  <i class="fa fa-chevron-circle-left fa-2x pointer" aria-hidden="true" (click)="previousEmployee()"
                    matTooltip="Previous Employee"></i> &nbsp;
                  <mat-form-field>
                    <mat-label>Employee Name</mat-label>
                    <mat-select required name="EmployeeId" #EmployeeId="ngModel" [(ngModel)]="addModel.EmployeeId"
                      (ngModelChange)="searchOtherTasks('DailyTaskSelect',$event)">

                      <mat-option *ngFor="let p of getEmployees; trackBy: trackByFn" [value]="p.EmployeeId">
                        {{p.EmployeeName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;
                  <i class="fa fa-chevron-circle-right fa-2x pointer" aria-hidden="true" (click)="nextEmployee()"
                    matTooltip="Next Employee"></i>
                </div>



                <div *ngIf="UserType=='Employee'" class="col-sm-3 text-center">
                  <button *ngIf="!yest && (choseDateD<=today && choseDateD>=yesterday)" (click)="showYest()"
                    class="btn btn-primary btn-sm pull-right">Add previous Tasks</button>
                </div>
              </div>

              <div class="container-fluid">
                <mat-card class="card">
                  <mat-card-title>
                    <div class="row ">
                      <div class="col-sm-12 text-center">
                        <strong>Daily Tasks</strong>

                      </div>
                    </div>
                  </mat-card-title>

                  <div class="row">
                    <div class="container-fluid">
                      <div class="table-responsive">
                        <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th width="5%">Sr No.</th>
                              <th width="18%">Project Name</th>
                              <th width="18%">Phase Name</th>
                              <th width="18%">Requirement</th>
                              <th width="5%">Hours</th>
                              <th width="25%">Task Notes</th>
                              <th *ngIf="(choseDateD<=today && choseDateD>=yesterday) && UserType=='Employee'"
                                width="5%">Action
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let p of getDailyTasks;let i=index;">
                              <td> {{i+1}} </td>
                              <td> {{p.ProjectName}} </td>
                              <td> {{p.PhaseName}} </td>
                              <td> {{p.TaskName}} &nbsp; &nbsp; <b style="color:green;">{{p.HourSum}} </b></td>
                              <td> {{p.Hours}} </td>
                              <td><pre> {{p.DailyTaskNotes}} </pre></td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && UserType=='Employee'">
                                <i class="fa fa-pencil-square-o greentext" aria-hidden="true"
                                  (click)="createPopup(p,'DailyTaskUpdate')" matTooltip="Edit Activity"></i>&nbsp;
                                <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                  (click)="deleteRow(p,'DailyTaskDelete')" matTooltip="Delete Activity"></i>
                              </td>
                            </tr>
                            <tr *ngIf="(choseDateD<=today && choseDateD>=yesterday) && !yest && addRow">
                              <td> </td>
                              <td>

                                <mat-form-field>

                                  <mat-select required name="ProjectId" #ProjectId="ngModel"
                                    (ngModelChange)="onChangeProject($event)" [(ngModel)]="addModel.ProjectId">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let p of getProjects; trackBy: trackByFn" [value]="p.ProjectId">
                                      {{p.ProjectName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field>

                                  <mat-select required name="PhaseId" #PhaseId="ngModel" [(ngModel)]="addModel.PhaseId"
                                    (ngModelChange)="onChangePhase($event)">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let p of PhaseList; trackBy: trackByFn" [value]="p.PhaseId">
                                      {{p.PhaseName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field>

                                  <mat-select required name="TaskId" #TaskId="ngModel" [(ngModel)]="addModel.TaskId">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let p of TaskList; trackBy: trackByFn" [value]="p.TaskId">
                                      {{p.TaskName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td>

                                <input size="4" ng-pattern="/^[0-9]+\.?[0-9]*$/" required name="Hours" #Hours="ngModel"
                                  [(ngModel)]="addModel.Hours">
                              </td>
                              <td><textarea placeholder="Enter Notes (multiple lines Allowed)" matInput required name="DailyTaskNotes"
                                  #DailyTaskNotes="ngModel" [(ngModel)]="addModel.DailyTaskNotes"></textarea> </td>
                              <td>
                                <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true" (click)="hideRow()"
                                  matTooltip="Delete Activity"></i>
                              </td>
                            </tr>
                            <!-- yesterday -->

                            <tr *ngFor="let y of getYestTasks;let i=index;">
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest"> </td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest">
                                <mat-form-field>
                                  <mat-select required name="ProjectId{{i}}" #ProjectId="ngModel"
                                    (ngModelChange)="onChangeProject2($event,y)" [(ngModel)]="y.ProjectId">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let p of getProjects; trackBy: trackByFn" [value]="p.ProjectId">
                                      {{p.ProjectName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest">
                                <mat-form-field>

                                  <mat-select required name="PhaseId{{i}}" #PhaseId="ngModel"
                                    (ngModelChange)="onChangePhase2($event,y)" [(ngModel)]="y.PhaseId">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let p of y.PhaseList; trackBy: trackByFn" [value]="p.PhaseId">
                                      {{p.PhaseName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest">
                                <mat-form-field>

                                  <mat-select required name="TaskId{{i}}" #TaskId="ngModel" [(ngModel)]="y.TaskId">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let p of y.TaskList2; trackBy: trackByFn" [value]="p.TaskId">
                                      {{p.TaskName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest">

                                <input size="4" ng-pattern="/^[0-9]/" required name="Hours" #Hours="ngModel"
                                  [(ngModel)]="y.Hours">
                              </td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest"><input
                                  placeholder="Enter Notes" matInput required name="DailyTaskNotes"
                                  #DailyTaskNotes="ngModel" [(ngModel)]="y.DailyTaskNotes"> </td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest">
                                <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                  (click)="removeYest(y.DailyTaskId)" matTooltip="Delete Activity"></i>
                              </td>
                            </tr>
                            <tr *ngIf="getDailyTasks.length>0">
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><b style="color:red;">{{DailySumHours| number:'1.0-1' }}</b></td>
                              <td></td>
                              <td *ngIf="(choseDateD<=today && choseDateD>=yesterday)  && UserType=='Employee'"></td>
                            </tr>

                            <!-- yesterday end -->
                          </tbody>
                        </table>
                        <button *ngIf="(choseDateD<=today && choseDateD>=yesterday) && yest" type="button"
                          class="btn btn-primary btn-sm pull-right" (click)="saveYest(getYestTasks,'DailyTask')">
                          Save Task
                        </button>
                        <div
                          *ngIf="(choseDateD<=today && choseDateD>=yesterday) && !yest && !addRow && UserType=='Employee'">
                          <button type="button" class="btn btn-primary btn-sm pull-right" (click)="showRow()">
                            <i class="fa fa-plus"></i>
                            Add Row
                          </button> </div>
                        <button *ngIf="(choseDateD<=today && choseDateD>=yesterday) && !yest && addRow" type="button"
                          class="btn btn-primary btn-sm pull-right" [disabled]="!Adding.form.valid"
                          (click)="saveRow(addModel)">
                          Save Task
                        </button>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="choseDateD<today && getDailyTasks.length === 0" class="col-sm-12 text-center">
                    <span class="text-danger">No Data Found</span>
                  </div>
                  <div *ngIf="choseDateD>today" class="col-sm-12 text-center">
                    <span *ngIf="UserType=='Employee'" class="text-danger">Cannot add future Tasks</span>
                    <span *ngIf="UserType=='Admin'" class="text-danger">Cannot see future Tasks</span>
                  </div>
                </mat-card>
              </div>
            </form>

            <!-- pop up for edit daily task notes -->
            <div class="modal fade" cdkDrag mdbModal #DailyPopUpModal="mdbModal" id="DailyPopUpModal" tabindex="-1"
              role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"
              [config]="{backdrop: false, ignoreBackdropClick: true}">
              <div class="modal-dialog modal-notify modal-info modal-xl" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header">
                    <p class="heading lead">{{Title}}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      (click)="closeDailyPopUpModal()">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
                  <!--Body-->


                  <div class="modal-body">
                    <form #DailyForm="ngForm">

                      <div *ngIf="type=='DailyTaskUpdate'">
                        <div class="row ">
                          <div class="col-sm-2.5">
                            <mat-form-field>
                              <mat-select required placeholder="Project Name" name="ProjectId" #ProjectId="ngModel"
                                (ngModelChange)="onChangeProject($event)" [(ngModel)]="addModel.ProjectId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of getProjects; trackBy: trackByFn" [value]="p.ProjectId">
                                  {{p.ProjectName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-2.5">
                            <mat-form-field>

                              <mat-select required placeholder="Phase Name" name="PhaseId" #PhaseId="ngModel"
                                [(ngModel)]="addModel.PhaseId" (ngModelChange)="onChangePhase($event)">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of PhaseList; trackBy: trackByFn" [value]="p.PhaseId">
                                  {{p.PhaseName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-2.5">
                            <mat-form-field>

                              <mat-select required placeholder="Enter Requirement" name="TaskId" #TaskId="ngModel"
                                [(ngModel)]="addModel.TaskId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of TaskList; trackBy: trackByFn" [value]="p.TaskId">
                                  {{p.TaskName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-0.5">
                            <input placeholder="Hours" size="4" ng-pattern="/^[0-9]+\.?[0-9]*$/" required name="Hours"
                              #Hours="ngModel" [(ngModel)]="addModel.Hours">
                          </div>
                          <div class="col-sm-4">
                            <textarea rows="4" placeholder="Enter Notes" matInput required name="DailyTaskNotes"
                              #DailyTaskNotes="ngModel" [(ngModel)]="addModel.DailyTaskNotes"></textarea>
                          </div>
                        </div>

                        <div class=" modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="update(addModel,'DailyTask')"
                            [disabled]="!DailyForm.form.valid">Update</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closeDailyPopUpModal()">Cancel</button>
                        </div>
                      </div>

                      <div class="row justify-content-md-center">
                        <div class="alert alert-success" *ngIf="successmsg!==''" role="alert">
                          <h4>
                            <i class="fa fa-check"></i> {{successmsg}}</h4>
                        </div>
                        <div class="alert alert-warning" *ngIf="unsuccessmsg!==''" role="alert">
                          <h4>
                            <i class="fa fa-times-circle"></i> {{unsuccessmsg}}</h4>
                        </div>
                      </div>

                    </form>
                  </div>

                </div>
              </div>
            </div>


          </mat-tab>
          <mat-tab *ngIf="UserType=='Admin'" label="COMPANY">


            <form #AddCompany="ngForm" style="overflow: auto !important">
              <div class="container-fluid">
                <mat-card class="card">
                  <mat-card-title>
                    <div class="row ">
                      <div class="col-sm-12 text-center">
                        <strong>REQUIREMENTS</strong>
                        <!-- <button type="button" class="btn btn-primary btn-sm pull-right"
                          (click)="createPopup(null,'Add Task')">
                          <i class="fa fa-plus"></i>
                          Add Requirement
                        </button> -->
                      </div>
                    </div>
                  </mat-card-title>
                  <div [hidden]="!getresult">
                    <div class="row">
                      <div class="container-fluid">
                        <div class="table-responsive">
                          <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th>Sr No.</th>
                                <th>Project Name
                                  <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu7"><i
                                      class="fa fa-filter" aria-hidden="true"></i></button>
                                  <mat-menu #afterMenu7="matMenu" xPosition="after" yPosition="below">
                                    <button mat-menu-item (click)="filterProject3('All Projects')">All Projects</button>
                                    <button mat-menu-item (click)="filterProject3(p)"
                                      *ngFor="let p of FilterProjects3; trackBy: trackByFn" [value]="p">{{p}}</button>
                                  </mat-menu>
                                </th>
                                <th>Phase Name
                                  <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu8"><i
                                      class="fa fa-filter" aria-hidden="true"></i></button>
                                  <mat-menu #afterMenu8="matMenu" xPosition="after" yPosition="below">
                                    <button mat-menu-item (click)="filterPhase3('All Phases')">All Phases</button>
                                    <button mat-menu-item (click)="filterPhase3(p)"
                                      *ngFor="let p of FilterPhases3; trackBy: trackByFn" [value]="p">{{p}}</button>
                                  </mat-menu>
                                </th>
                                <th>Requirement
                                  <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu9"><i
                                      class="fa fa-filter" aria-hidden="true"></i></button>
                                  <mat-menu #afterMenu9="matMenu" xPosition="after" yPosition="below">
                                    <button mat-menu-item (click)="filterTask3('All Tasks')">All Requirements</button>
                                    <button mat-menu-item (click)="filterTask3(p)"
                                      *ngFor="let p of FilterTasks3; trackBy: trackByFn" [value]="p">{{p}}</button>
                                  </mat-menu>
                                </th>
                                <th>Status
                                  <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu11"><i
                                      class="fa fa-filter" aria-hidden="true"></i></button>
                                  <mat-menu #afterMenu11="matMenu" xPosition="after" yPosition="below">
                                    <button mat-menu-item (click)="filterStatus('All Status')">All Status</button>
                                    <button mat-menu-item (click)="filterStatus(p)"
                                      *ngFor="let p of FilterStatus; trackBy: trackByFn" [value]="p">{{p}}</button>
                                  </mat-menu>
                                </th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="let p of getTasks2 | paginate: {id: 'o-paginate', itemsPerPage: 20, currentPage: o };trackBy: trackByFn;let i=index;">
                                <td> {{p.SrNo}} </td>
                                <td> {{p.ProjectName}} </td>
                                <td> {{p.PhaseName}} </td>
                                <td> {{p.TaskName}} </td>
                                <td> {{p.Status}} </td>

                                <td>
                                  <i class="fa fa-pencil-square-o greentext" aria-hidden="true"
                                    (click)="createPopup(p,'Update Task')" matTooltip="Edit Activity"></i>&nbsp;
                                  <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                    (click)="deletePopup(p.TaskId,'Delete Task')" matTooltip="Delete Activity"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <tfoot [hidden]="getTasks2.length<=20">
                            <pagination-controls id="o-paginate" (pageChange)="o = $event">
                            </pagination-controls>
                          </tfoot>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 text-center" *ngIf="getTasks2.length === 0">
                    <span class="text-danger">No Data Found</span>
                  </div>
                </mat-card>
              </div>
              <div class="container-fluid">
                <mat-card class="card">
                  <mat-card-title>
                    <div class="row ">
                      <div class="col-sm-12 text-center">
                        <strong>PHASES</strong>
                        <button type="button" class="btn btn-primary btn-sm pull-right"
                          (click)="createPopup(null,'Add Phase')">
                          <i class="fa fa-plus"></i>
                          Add Phase
                        </button>
                      </div>
                    </div>
                  </mat-card-title>

                  <div class="row">
                    <div class="container-fluid">
                      <div class="table-responsive">
                        <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Sr No.</th>
                              <th>Project Name
                                <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu10"><i
                                    class="fa fa-filter" aria-hidden="true"></i></button>
                                <mat-menu #afterMenu10="matMenu" xPosition="after" yPosition="below">
                                  <button mat-menu-item (click)="filterProject4('All Projects')">All Projects</button>
                                  <button mat-menu-item (click)="filterProject4(p)"
                                    *ngFor="let p of FilterProjects4; trackBy: trackByFn" [value]="p">{{p}}</button>
                                </mat-menu>
                              </th>
                              <th>Phase Name</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let p of getPhases2 | paginate: {id: 'm-paginate', itemsPerPage: 15, currentPage: m };trackBy: trackByFn;let i=index;">
                              <td> {{p.SrNo}} </td>
                              <td> {{p.ProjectName}} </td>
                              <td> {{p.PhaseName}} </td>
                              <td> {{p.Status}} </td>

                              <td>
                                <i class="fa fa-pencil-square-o greentext" aria-hidden="true"
                                  (click)="createPopup(p,'Update Phase')" matTooltip="Edit Activity"></i>&nbsp;
                                <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                  (click)="deletePopup(p.PhaseId,'Delete Phase')" matTooltip="Delete Activity"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <tfoot [hidden]="getPhases2.length<=15">
                          <pagination-controls id="m-paginate" (pageChange)="m = $event">
                          </pagination-controls>
                        </tfoot>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 text-center" *ngIf="getPhases2.length === 0">
                    <span class="text-danger">No Data Found</span>
                  </div>
                </mat-card>
              </div>
              <div class="container-fluid">
                <mat-card class="card">
                  <mat-card-title>
                    <div class="row ">
                      <div class="col-sm-12 text-center">
                        <strong>PROJECTS</strong>
                        <button type="button" class="btn btn-primary btn-sm pull-right"
                          (click)="createPopup(null,'Add Project')">
                          <i class="fa fa-plus"></i>
                          Add Project
                        </button>
                      </div>
                    </div>
                  </mat-card-title>

                  <div class="row">
                    <div class="container-fluid">
                      <div class="table-responsive">
                        <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Sr No.</th>
                              <th>Project Name</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let p of getProjects2 | paginate: {id: 'n-paginate', itemsPerPage: 15, currentPage: n };trackBy: trackByFn;let i=index;">
                              <td> {{p.SrNo}} </td>
                              <td> {{p.ProjectName}} </td>
                              <td> {{p.Status}} </td>

                              <td>
                                <i class="fa fa-pencil-square-o greentext" aria-hidden="true"
                                  (click)="createPopup(p,'Update Project')" matTooltip="Edit Activity"></i>&nbsp;
                                <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                  (click)="deletePopup(p.ProjectId,'Delete Project')" matTooltip="Delete Activity"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <tfoot [hidden]="getProjects2.length<=15">
                          <pagination-controls id="n-paginate" (pageChange)="n = $event">
                          </pagination-controls>
                        </tfoot>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 text-center" *ngIf="getProjects2.length === 0">
                    <span class="text-danger">No Data Found</span>
                  </div>
                </mat-card>
              </div>



            </form>




            <!-- pop up for edit  and create form data -->
            <div class="modal fade" cdkDrag mdbModal #PopUpModal="mdbModal" id="PopUpModal" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="false"
              [config]="{backdrop: false, ignoreBackdropClick: true}">
              <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header">
                    <p class="heading lead">{{Title}}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      (click)="closePopUpModal()">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
                  <!--Body-->


                  <div class="modal-body">
                    <form #AddForm="ngForm" *ngIf="addPopup">
                      <div *ngIf="type=='Add Project'">
                        <div class="row ">
                          <div class="col-sm-4">
                            <mat-form-field class="full-width">
                              <mat-label>Project Name</mat-label>
                              <input matInput required name="ProjectName" #ProjectName="ngModel"
                                [(ngModel)]="addModel.ProjectName">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Status</mat-label>
                              <mat-select required name="Status" #Status="ngModel" [(ngModel)]="addModel.Status">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="InActive">InActive</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class=" modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="add(addModel,'Project')"
                            [disabled]="!AddForm.form.valid">Create</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closePopUpModal()">Cancel</button>
                        </div>
                      </div>

                      <div *ngIf="type=='Add Phase'">
                        <div class="row ">
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Project Name</mat-label>
                              <mat-select required name="ProjectName" #ProjectName="ngModel"
                                [(ngModel)]="addModel.ProjectId">
                                <mat-option *ngFor="let p of getProjects2; trackBy: trackByFn" [value]="p.ProjectId">
                                  {{p.ProjectName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-4">
                            <mat-form-field class="full-width">
                              <mat-label>Phase Name</mat-label>
                              <input matInput required name="PhaseName" #PhaseName="ngModel"
                                [(ngModel)]="addModel.PhaseName">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Status</mat-label>
                              <mat-select required name="Status" #Status="ngModel" [(ngModel)]="addModel.Status">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="InActive">InActive</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class=" modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="add(addModel,'Phase')"
                            [disabled]="!AddForm.form.valid">Create</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closePopUpModal()">Cancel</button>
                        </div>
                      </div>
                      <!-- temp -->
                      <div *ngIf="type=='Add Task'">
                        <div class="row">
                          <div class="col-sm-3">
                            <mat-form-field>
                              <mat-label> Project</mat-label>
                              <mat-select required name="ProjectId" #ProjectId="ngModel"
                                (ngModelChange)="onChangeProject3($event)" [(ngModel)]="addModel.ProjectId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of getProjects2; trackBy: trackByFn" [value]="p.ProjectId">
                                  {{p.ProjectName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field>
                              <mat-label> Phase</mat-label>
                              <mat-select required name="PhaseId" #PhaseId="ngModel" [(ngModel)]="addModel.PhaseId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of PhaseList3; trackBy: trackByFn" [value]="p.PhaseId">
                                  {{p.PhaseName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Task Name</mat-label>
                              <input matInput required name="TaskName" #TaskName="ngModel"
                                [(ngModel)]="addModel.TaskName">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Status</mat-label>
                              <mat-select required name="Status" #Status="ngModel" [(ngModel)]="addModel.Status">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="InActive">InActive</mat-option>
                                <mat-option value="Completed">Completed</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="add(addModel,'Task')"
                            [disabled]="!AddForm.form.valid">Create</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closePopUpModal()">Cancel</button>
                        </div>
                      </div>

                      <div *ngIf="type=='Update Project'">
                        <div class="row ">
                          <div class="col-sm-4">
                            <mat-form-field class="full-width">
                              <mat-label>Enter Project Name</mat-label>
                              <input matInput required name="ProjectName" #ProjectName="ngModel"
                                [(ngModel)]="addModel.ProjectName">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Status</mat-label>
                              <mat-select required name="Status" #Status="ngModel" [(ngModel)]="addModel.Status">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="InActive">InActive</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class=" modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="update(addModel,'Project')"
                            [disabled]="!AddForm.form.valid">Update</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closePopUpModal()">Cancel</button>
                        </div>
                      </div>

                      <div *ngIf="type=='Update Phase'">
                        <div class="row ">
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Project Name</mat-label>
                              <mat-select required name="ProjectId" #ProjectId="ngModel"
                                [(ngModel)]="addModel.ProjectId">
                                <mat-option *ngFor="let p of getProjects2; trackBy: trackByFn" [value]="p.ProjectId">
                                  {{p.ProjectName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-4">
                            <mat-form-field class="full-width">
                              <mat-label>Enter Phase Name</mat-label>
                              <input matInput required name="PhaseName" #PhaseName="ngModel"
                                [(ngModel)]="addModel.PhaseName">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Status</mat-label>
                              <mat-select required name="Status" #Status="ngModel" [(ngModel)]="addModel.Status">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="InActive">InActive</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class=" modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="update(addModel,'Phase')"
                            [disabled]="!AddForm.form.valid">Update</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closePopUpModal()">Cancel</button>
                        </div>
                      </div>

                      <div *ngIf="type=='Update Task'">
                        <div class="row ">
                          <div class="col-sm-3">
                            <mat-form-field>
                              <mat-label> Project</mat-label>
                              <mat-select required name="ProjectId" #ProjectId="ngModel"
                                (ngModelChange)="onChangeProject3($event)" [(ngModel)]="addModel.ProjectId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of getProjects2; trackBy: trackByFn" [value]="p.ProjectId">
                                  {{p.ProjectName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field>
                              <mat-label> Phase</mat-label>
                              <mat-select required name="PhaseId" #PhaseId="ngModel" [(ngModel)]="addModel.PhaseId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let p of PhaseList3; trackBy: trackByFn" [value]="p.PhaseId">
                                  {{p.PhaseName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Enter Task Name</mat-label>
                              <input matInput required name="TaskName" #TaskName="ngModel"
                                [(ngModel)]="addModel.TaskName">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                            <mat-form-field class="full-width">
                              <mat-label>Status</mat-label>
                              <mat-select required name="Status" #Status="ngModel" [(ngModel)]="addModel.Status">
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="InActive">InActive</mat-option>
                                <mat-option value="Completed">Completed</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class=" modal-footer justify-content-center">
                          <button type="submit" class="btn btn-primary btn-md" (click)="update(addModel,'Task')"
                            [disabled]="!AddForm.form.valid">Update</button>
                          <button type="button" class="btn btn-danger btn-md "
                            (click)="closePopUpModal()">Cancel</button>
                        </div>
                      </div>


                      <div class="row justify-content-md-center">
                        <div class="alert alert-success" *ngIf="successmsg!==''" role="alert">
                          <h4>
                            <i class="fa fa-check"></i> {{successmsg}}</h4>
                        </div>
                        <div class="alert alert-warning" *ngIf="unsuccessmsg!==''" role="alert">
                          <h4>
                            <i class="fa fa-times-circle"></i> {{unsuccessmsg}}</h4>
                        </div>
                      </div>

                    </form>
                  </div>

                </div>
              </div>
            </div>

            <!--Modal: modalConfirmDelete confirm dialog box to delete record in table-->
            <div class="modal fade" cdkDrag id="modalConfirmDelete" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true" mdbModal #modalConfirmDelete="mdbModal"
              tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"
              [config]="{backdrop: false, ignoreBackdropClick: true}">
              <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                <div class="modal-content text-center">
                  <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                  </div>
                  <div class="modal-body">
                    <i class="fa fa-times fa-4x animated rotateIn"></i>
                  </div>
                  <div class="modal-footer flex-center">
                    <button *ngIf="type=='Delete Project'" class="btn btn-outline-danger btn-sm waves-effect"
                      (click)="delete(addModel,'Project')">Yes</button>
                    <button *ngIf="type=='Delete Phase'" class="btn btn-outline-danger btn-sm waves-effect"
                      (click)="delete(addModel,'Phase')">Yes</button>
                    <button *ngIf="type=='Delete Task'" class="btn btn-outline-danger btn-sm waves-effect"
                      (click)="delete(addModel,'Task')">Yes</button>
                    <button type="button" class="button round-md btnstyle btn-sm btn-danger"
                      (click)="modalConfirmDelete.hide()">No</button>
                  </div>
                </div>
              </div>
            </div>


          </mat-tab>

          <mat-tab label="WEEK VIEW">


            <form #WeekView="ngForm">

              <div class="row ">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="col-sm-3">
                  <mat-form-field *ngIf="UserType=='Admin'">
                    <mat-label>Employee Name</mat-label>
                    <mat-select required name="EmployeeId" #EmployeeId="ngModel" [(ngModel)]="addModel.EmployeeId2"
                      (ngModelChange)="selectEmployee($event)">
                      <mat-option [value]="-333">
                        All Employees
                      </mat-option>
                      <mat-option *ngFor="let p of getEmployees; trackBy: trackByFn" [value]="p.EmployeeId">
                        {{p.EmployeeName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                      (dateChange)="chooseWeeklyDate(addModel.Date)" name="Date" #Date="ngModel"
                      [(ngModel)]="addModel.Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-5" style="color: rgb(59, 46, 117);font-size:large;display: inline-block;">
                  <i class="fa fa-caret-left fa-2x pointer" aria-hidden="true" (click)="previousWeek()"
                    matTooltip="Previous Week"></i>
                  <i class="fa fa-caret-left fa-2x pointer" aria-hidden="true" (click)="previousWeek()"
                    matTooltip="Previous Week"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="fa fa-caret-square-o-left fa-2x pointer" aria-hidden="true" (click)="previousDay()"
                    matTooltip="Previous Day"></i> &nbsp;
                  <b style="font-size: 25px;"> {{chosenDate_1 | date: 'MMM d'  }}
                    -
                    {{chosenDate_7 | date  }}</b> &nbsp;
                  <i class="fa fa-caret-square-o-right fa-2x pointer" aria-hidden="true" (click)="nextDay()"
                    matTooltip="Next Day"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="fa fa-caret-right fa-2x pointer" aria-hidden="true" (click)="nextWeek()"
                    matTooltip="Next Week"></i>
                  <i class="fa fa-caret-right fa-2x pointer" aria-hidden="true" (click)="nextWeek()"
                    matTooltip="Next Week"></i>
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                  <i (click)="refreshWeekView()" class="fa fa-refresh pointer" aria-hidden="true"
                    matTooltip="Refresh"></i>
                </div>

              </div>
              <div class="row">
                <div class="container-fluid">
                  <div class="table-responsive scroll">
                    <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th width="5%">Sr No.</th>
                          <th width="18%" height="3%">Project Name
                            <button class="btnstyle" mat-button [matMenuTriggerFor]="afterMenu1"><i class="fa fa-filter"
                                aria-hidden="true"></i>
                            </button>
                            <mat-menu #afterMenu1="matMenu" xPosition="after" yPosition="below">
                              <button mat-menu-item (click)="filterProject('All Projects')">All Projects</button>
                              <button mat-menu-item (click)="filterProject(p)"
                                *ngFor="let p of FilterProjects; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                          </th>
                          <th style="text-align: right;" width="18%">Phase Name
                            <button class="btnstyle" mat-button [matMenuTriggerFor]="afterMenu2"><i class="fa fa-filter"
                                aria-hidden="true"></i></button>
                            <mat-menu #afterMenu2="matMenu" xPosition="after" yPosition="below">
                              <button mat-menu-item (click)="filterPhase('All Phases')">All Phases</button>
                              <button mat-menu-item (click)="filterPhase(p)"
                                *ngFor="let p of FilterPhases; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                          </th>
                          <th style="text-align: right;" width="18%">Task Name
                            <button class="btnstyle" mat-button [matMenuTriggerFor]="afterMenu3"><i class="fa fa-filter"
                                aria-hidden="true"></i></button>
                            <mat-menu #afterMenu3="matMenu" xPosition="after" yPosition="below">
                              <button mat-menu-item (click)="filterTask('All Tasks')">All Tasks</button>
                              <button mat-menu-item (click)="filterTask(p)"
                                *ngFor="let p of FilterTasks; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                          </th>
                          <th width="5%">{{chosenDate_1 | date : 'd MMM' }}</th>
                          <th width="5%">{{chosenDate_2 | date : 'd MMM'  }}</th>
                          <th width="5%">{{chosenDate_3 | date : 'd MMM'  }}</th>
                          <th width="5%">{{chosenDate_4 | date : 'd MMM'  }}</th>
                          <th width="5%">{{chosenDate_5 | date : 'd MMM'  }}</th>
                          <th width="5%">{{chosenDate_6 | date : 'd MMM'  }}</th>
                          <th width="5%">{{chosenDate_7 | date : 'd MMM'  }}</th>
                          <th width="8%">Total Hours</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of getWeeklyTasks;let i=index;">
                          <td> {{i+1}} </td>
                          <td> {{p.ProjectName}} </td>
                          <td> {{p.PhaseName}} </td>
                          <td>
                            <pre>{{p.TaskName}}</pre>
                          </td>
                          <td> {{p.today| number:'1.0-1'}} </td>
                          <td> {{p.t_1| number:'1.0-1'}} </td>
                          <td> {{p.t_2| number:'1.0-1'}} </td>
                          <td> {{p.t_3| number:'1.0-1'}} </td>
                          <td> {{p.t_4| number:'1.0-1'}} </td>
                          <td> {{p.t_5| number:'1.0-1'}} </td>
                          <td> {{p.t_6| number:'1.0-1'}} </td>

                          <td><b style="color: red;"> {{p.Total_Hours| number:'1.0-1'}}</b> </td>
                        </tr>
                        <tr>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td><b style="color: red;"> {{today_s| number:'1.0-1'}} </b></td>
                          <td><b style="color: red;"> {{t_1_s| number:'1.0-1'}} </b></td>
                          <td><b style="color: red;"> {{t_2_s| number:'1.0-1'}} </b> </td>
                          <td><b style="color: red;"> {{t_3_s| number:'1.0-1'}} </b> </td>
                          <td><b style="color: red;"> {{t_4_s| number:'1.0-1'}} </b> </td>
                          <td><b style="color: red;"> {{t_5_s| number:'1.0-1'}} </b></td>
                          <td><b style="color: red;"> {{t_6_s| number:'1.0-1'}} </b> </td>

                          <td><b style="color: red;"> {{Total_Hours_s| number:'1.0-1'}} </b> </td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>

            </form>


          </mat-tab>

          <mat-tab *ngIf="UserType=='Admin'" label="MONTHLY VIEW">

            <div class="row ">
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput [matDatepicker]="dp" placeholder="Month and Year" name="month" #month="ngModel"
                    [(ngModel)]="addModel.month">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp startView="multi-year" (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
                  </mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-4">
                <b style="font-size: 25px;"> {{choseMonthN | date: 'MMM yyyy'  }}</b>
              </div>

              <div class="col-sm-2">
                <i (click)="refreshMonthView()" class="fa fa-refresh fa-pull-left pointer" aria-hidden="true"
                  matTooltip="Refresh"></i>
              </div>
            </div>
            <form #WeekView="ngForm">
              <table class="table table-bordered table-sm text-nowrap" cellsspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>NO.</th>
                    <th>Employee Name</th>
                    <th *ngFor="let number of MonthDates_h">{{number}}</th>
                    <th>Total</th>
                    <th>Avg</th>
                    <th>Days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of getMonthlyTasks;let i=index;">
                    <td> {{i+1}} </td>
                    <td> {{p.EName}} </td>
                    <td *ngFor="let i of MonthDates " matTooltip="{{Description}}" [matTooltipClass]="'my-tooltip'"
                      matTooltipPosition="above" (mouseenter)="mouseEnter(p,choseMonth+'-'+i.substr(1))">
                      {{p[i]?p[i]:' '}} </td>
                    <td><b style="color: red;">{{p.TotalHoursSum| number:'1.0-0'}}</b></td>
                    <td><b style="color: rgb(123, 23, 216);">{{p.TotalHoursSum/p.TotalDays | number:'1.0-1'}}</b></td>
                    <td><b style="color:  rgb(123, 23, 216);">{{p.TotalDays}}</b></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td *ngFor="let i of MonthDates_h"><b style="color: red;">{{tot[i]| number:'1.0-0'  }}</b></td>
                    <td><b style="color: red;">{{MonthlyTotalHoursSum| number:'1.0-0'}}</b></td>
                    <td><b style="color: red;">{{SumAvgHrs| number:'1.0-0'}}</b></td>
                    <td><b style="color: red;">{{SumTotalDays| number:'1.0-0'}}</b></td>
                  </tr>
                </tbody>
              </table>

            </form>

          </mat-tab>
          <mat-tab label="MY WORK">

            <form #RangeView="ngForm">


              <div class="row ">
                <div class="col-sm-4 text-center">
                  <app-date-range-picker (dateRangeEvent)="dateRangeEvent($event)"> </app-date-range-picker>
                </div>


                <div class="col-sm-4 text-center">
                  <button style="background-color: rgb(243, 129, 247);">New Req - {{reqc[0]}}</button> &nbsp;
                  <button style="background-color:chartreuse;">Idea - {{reqc[1]}}</button>&nbsp;
                  <button style="background-color:red;">Bug - {{reqc[2]}}</button>
                </div>

                <div *ngIf="UserType=='Admin'" class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Employee Name</mat-label>
                    <mat-select required name="EmployeeId" #EmployeeId="ngModel" [(ngModel)]="addModel.RangeEmployeeID"
                      (ngModelChange)="SelectRangeEmployee($event)">
                      <mat-option [value]="null">
                        All Employees
                      </mat-option>
                      <mat-option *ngFor="let p of getAllUsers; trackBy: trackByFn" [value]="p.EmployeeId">
                        {{p.EmployeeName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row scroll">
                <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>NO.</th>
                      <th>Project Name
                        <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu4"><i
                            class="fa fa-filter" aria-hidden="true"></i></button>
                        <mat-menu #afterMenu4="matMenu" xPosition="after" yPosition="below">
                          <button mat-menu-item (click)="filterProject2('All Projects')">All Projects</button>
                          <button mat-menu-item (click)="filterProject2(p)"
                            *ngFor="let p of FilterProjects2; trackBy: trackByFn" [value]="p">{{p}}</button>
                        </mat-menu>
                      </th>
                      <th>Phase Name
                        <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu5"><i
                            class="fa fa-filter" aria-hidden="true"></i></button>
                        <mat-menu #afterMenu5="matMenu" xPosition="after" yPosition="below">
                          <button mat-menu-item (click)="filterPhase2('All Phases')">All Phases</button>
                          <button mat-menu-item (click)="filterPhase2(p)"
                            *ngFor="let p of FilterPhases2; trackBy: trackByFn" [value]="p">{{p}}</button>
                        </mat-menu>
                      </th>
                      <th width="50%">Requirement
                        <button style="float:right; " mat-button [matMenuTriggerFor]="afterMenu6"><i
                            class="fa fa-filter" aria-hidden="true"></i></button>
                        <mat-menu #afterMenu6="matMenu" xPosition="after" yPosition="below">
                          <button mat-menu-item (click)="filterTask2('All Tasks')">All Tasks</button>
                          <button mat-menu-item (click)="filterTask2(p)"
                            *ngFor="let p of FilterTasks2; trackBy: trackByFn" [value]="p">{{p}}</button>
                        </mat-menu>
                      </th>
                      <th>Total Hours&nbsp;<i class="fa fa-sort-amount-desc pointer" (click)="sort()"
                          aria-hidden="true"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of getRangeTasks;let i=index;">
                      <td> {{i+1}} </td>
                      <td>{{p.ProjectName}}</td>
                      <td>{{p.PhaseName}}</td>
                      <td>{{p.TaskName}} &nbsp; <i class="fa fa-eye pinter" (click)="showNotes(p)"
                          aria-hidden="true"></i></td>
                      <td matTooltip="{{RangeEmployees}}" [matTooltipClass]="'my-tooltip'" matTooltipPosition="above"
                        (mouseenter)="mouseOverRange(p)">{{p.TotalHours}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b style="color: red;">{{SumTotalHours| number:'1.0-1'}}</b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>

          </mat-tab>

          <mat-tab label="REQUIREMENTS">
            <app-requiremnts #requiremnts></app-requiremnts>
          </mat-tab>

          <mat-tab label="PERSONAL">
            <ng-template matTabLabel>
              <span matBadge="{{AllPending}}" matBadgeOverlap="false"
                [matBadgeHidden]="AllPending==0 || loggedInuserDetails.UserType=='Employee'"
                matBadgeColor="warn">PERSONAL</span>
            </ng-template>
            <app-holiday></app-holiday>
          </mat-tab>
          <mat-tab label="PAY SLIP">
            <app-pay-slip></app-pay-slip>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card>
</div>

<div class="modal fade" cdkDrag mdbModal #ChangePWDPopUpModal="mdbModal" id="ChangePWDPopUpModal" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"
  [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{Title}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeChangePwdPopUpModal()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ChangePwdForm="ngForm">

          <div *ngIf="type=='Change Password'">
            <div class="row">
              <div class="col-sm-4">
                <input matInput type="password" required placeholder="Current Password" name="Password"
                  #Password="ngModel" [(ngModel)]="LoginModel.Password" autocomplete="off">
              </div>
              <div class="col-sm-4">
                <input matInput type="password" required placeholder="New Password" name="NewPassword"
                  #NewPassword="ngModel" [(ngModel)]="LoginModel.NewPassword" autocomplete="off">
              </div>
              <div class="col-sm-4">
                <input matInput type="password" required placeholder="Verify Password" name="VerifyNewPassword"
                  #VerifyNewPassword="ngModel" [(ngModel)]="LoginModel.VerifyNewPassword" autocomplete="off">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                <p style="color: green;"
                  *ngIf="LoginModel.NewPassword && LoginModel.NewPassword.length>0 && LoginModel.NewPassword==LoginModel.VerifyNewPassword">
                  Matched</p>
                <p style="color: red;"
                  *ngIf="LoginModel.NewPassword && LoginModel.NewPassword.length>0 && LoginModel.NewPassword!=LoginModel.VerifyNewPassword">
                  Not Matched</p>
              </div>
              <div class="col-sm-4">
                <button
                  *ngIf="LoginModel.NewPassword && LoginModel.NewPassword.length>0 && LoginModel.NewPassword==LoginModel.VerifyNewPassword"
                  (click)="changePassword(LoginModel,type)"> Change Password</button>
              </div>
            </div>
          </div>

          <!-- </div> -->
          <div class="row justify-content-md-center">
            <div class="alert alert-success" *ngIf="successmsg!==''" role="alert">
              <h4>
                <i class="fa fa-check"></i> {{successmsg}}</h4>
            </div>
            <div class="alert alert-warning" *ngIf="unsuccessmsg!==''" role="alert">
              <h4>
                <i class="fa fa-times-circle"></i> {{unsuccessmsg}}</h4>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" cdkDrag mdbModal #PopupNotes="mdbModal" id="PopupNotes" tabindex="1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-notify modal-info modal-smallwidth" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{Title}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopupNotes()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="PopUpscroll">
          <table class="table table-bordered table-sm text-nowrap tableFixHead ">
            <thead>
              <tr>
                <th>S No.</th>
                <th>Hours</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of GetDailyNotes;let i=index;">
                <td>{{i+1}}</td>
                <td>{{p.Hours}}</td>
                <td>
                  <pre>{{p.DailyTaskNotes}}</pre>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>