::ng-deep .my-tooltip {
  white-space: pre-line;
  font-size: small;
  color: rgb(4, 40, 95) !important;
  background: rgb(248, 250, 249) !important;
  width: 350px !important ;
  max-width: 500px !important ;
}
.field {
  width: 50%;
}
.statusMargin {
  margin-top: 10px;
}

.formstyle {
  border: 1px solid #a19f9f;
  height: 28px;
  width: 5em;
  margin-left: 18px;
  margin-right: 15px;
}

input[type="text"]::placeholder {
  text-align: right;
}

.error {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
}

.has-success {
  border-color: #65ea84;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #65ea84;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.isLoading {
  text-align: center;
  margin-top: 50px;
}

.modal-dialog .modal-content {
  width: 70%;
}

td {
  vertical-align: middle;
}

.table-responsive {
  width: 97%;
  margin-left: 1em;
}

.tableHeight {
  height: 390px !important;
}

.modal-lg {
  max-width: 100%;
}
.modal-xl {
  max-width: 1600px;
}

::ng-deep .mat-tab-header {
  margin-bottom: 1em;
}

::ng-deep .mat-tab-labels {
  // background-color: #09909cd1!important;
  background-image: linear-gradient(to right, #841270, #2ad5e4);
  border-radius: 10px;
}

::ng-deep .mat-tab-label,
.mat-tab-link {
  color: white;
}

.scroll {
  height: 32em;
  overflow: auto;
}

//  logout popup start
::ng-deep .mat-menu-content {
  padding-top: 12px;
  padding-bottom: 8px;
  margin: 8px;
  width: 11em;
}

::ng-deep .mat-menu-panel {
  border-radius: 0.81em !important;
  background: #616161de;
  color: white;
  font-weight: 500;
  margin-top: 2em;
}

.fa-icon {
  font-size: 2.5em;
  border: 1px solid #414141;
  padding: 8px;
  border-radius: 50%;
  width: 2em;
  height: 71px;
  margin-top: 1e;
  padding-top: 13px;
  color: rgb(44, 44, 44);
}

.titlehead {
  font-size: 1.25em;
}

.pull-right {
  float: right;
}

.fausernav {
  border: 2px solid #5f5f5f;
  padding: 10px;
  font-size: 21px;
  border-radius: 50%;
  height: 36px;
  padding-top: 6px;
}

.logoutmenu {
  margin-left: -4em;
  margin-top: -0.9em;
  position: absolute;
  z-index: 10000;
}
//  logout popup end

::ng-deep .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 24px;
  background-color: #333333;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  height: 2.9em;
}

/* Styles for the ink bar */
::ng-deep .mat-ink-bar {
  background-color: green;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #d8d8d800 !important;
}

::ng-deep .mat-tab-label-container {
  height: 2.5em !important;
}

.menuitem:hover {
  color: #47f7be;
}

.btnstyle {
  float: right;
  margin: -7px;
}

pre {
  display: block;
  font-size: 90.5%;
  color: #212529;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0rem;
  overflow: hidden;
}

.mat-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.table thead th {
  vertical-align: middle !important;
}
 
.modal-smallwidth{
  max-width: 70%;
}
.PopUpscroll {
  max-height: 20em;
  overflow: auto;
}