.login {
  border: 2px solid rgb(40, 40, 41);
  display: inline-block;
  padding: 2em;
  border-radius: 30px;
  height: 13.8em;
}

.fa-person {
  margin-top: 1em;
  display: absolute;
  color: rgb(255, 255, 255);
}

.inputbox {
  border-radius: 7px;
}

input.mat-input-element {
  margin-top: -0.0625em;
  border-radius: 6px;
}

.btn-outline-info {
  border: 2px solid #404040 !important;
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 10px;
}

.background-img {
  background-color: rgba(58, 57, 57, 0.699);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
