<div class="row background-img">
  <div class="col-sm-12 text-center">
    <i class="fa fa-user-circle fa-5x fa-person" aria-hidden="true"></i>
    <form class="text-center" style="color: #757575; ">
      <div class="text-center login">
        <input class="inputbox" type="text" width="50" required name="EmailId" #EmailId="ngModel" placeholder="Enter UserId"
          [(ngModel)]="LoginModel.EmailId">
        <br> <br>
        <input class="inputbox" type="password" required name="Password" #Password="ngModel" placeholder="Enter Password"
          [(ngModel)]="LoginModel.Password">
        <br>
        <button mdbBtn color="info" outline="true" rounded="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          (click)="loginpage(LoginModel)">Sign in</button>
        <h3 style="color: red;" *ngIf='!loggedin'> <br>Wrong Credential</h3>
      </div>
    </form>
  </div>
</div>