.modal-xl {
  max-width: 90%;
}

.scroll {
  height: 32em;
  overflow: auto;
}

// ::ng-deep .mat-menu-item {
//   background: 0 0;
//  // color: rgba(255, 255, 255, 0.87);
//   background-color: white;
//   border-radius: 10px;
// }
// ::ng-deep .mat-menu-item {
//   background: 0 0;
//   color: rgba(255, 255, 255, 0.87);
// }

::ng-deep .mat-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
  background: rgb(243, 243, 243);
  color: black;
  border-radius: 10px;
}
pre {
  display: block;
  font-size: 90.5%;
  color: #212529;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0rem;
  overflow: hidden;
  }