@import "~ngx-bar-rating/themes/br-fontawesome-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-option-text {
  font-weight: 500 !important;
  font-size: 15px !important;
}

.table thead th {
  vertical-align: middle !important;
}
::ng-deep .mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  zoom: 90%;
}

::ng-deep .mat-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
  background: rgb(243, 243, 243) !important;
  color: black !important;
  border-radius: 10px !important;
}
